<div class="container menu-container">
  <h3 class="menu-title">Administra Tu Tienda Desde Este Lugar</h3>
  <div class="container text-center mt-4">
    <div class="row justify-content-center g-4">
      <!-- Fila 1 -->
      <div class="col-6 col-md-3">
        <div class="icon-card">
          <img src="assets/img/image 87.png" class="image_card" />
          <p>Mi Tienda</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-card">
          <i class="bi bi-tablet-landscape"></i>
          <p>Productos</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-card">
          <i class="bi bi-people"></i>
          <p>Clientes</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-card">
          <i class="bi bi-cash-stack"></i>
          <p>Movimientos</p>
        </div>
      </div>
      <!-- Fila 2 -->
      <div class="col-6 col-md-3">
        <div class="icon-card">
          <i class="bi bi-bar-chart"></i>
          <p>Estadísticas</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-card">
          <i class="bi bi-c-circle"></i>
          <p>Políticas</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-card">
          <i class="bi bi-gear"></i>
          <p>Ajustes</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-card">
          <i class="bi bi-chat-dots"></i>
          <p>Comentarios</p>
        </div>
      </div>
    </div>
  </div>
  <h4 class="menu-footer">Todo Lo Que Necesitas En Una Sola Aplicación</h4>
</div>
