<div class="d-flex justify-content-between align-items-center vh-15 orange px-3">
  <!-- Contenedor Izquierdo: Logo -->
  <div class="d-flex flex-column align-items-center">
    <img src="assets/img/logo_tienda.png" class="image mt-1" alt="Logo Silicon">
    <a href="/store" class="text-white opc_nbn text-decoration-none fw-bold mb-3">Visítanos</a>
  </div>
  
  <!-- Contenedor Central: Buscador y Navegación -->
  <div class="d-flex flex-column align-items-center">
   
    <ul class="d-flex list-unstyled gap-4 mt-2 mb-2">
      <li><a href="#" class="opc_nbn text-white">Categorías</a></li>
      <li><a href="#" class="opc_nbn text-white">Descuentos</a></li>
      <li><a href="#" class="opc_nbn text-white">Catálogo</a></li>
      <li><a href="#" class="opc_nbn text-white">Carrito</a></li>
      <li><a href="#" class="opc_nbn text-white">Marcas</a></li>

    </ul>
    <div class="search_input d-flex align-items-center">
      <input type="search" class="buscador" placeholder="Buscar Producto..." />
      <i class="bi bi-search buscador-icono"></i>
    </div>
  </div>

  <!-- Contenedor Derecho: Bienvenida y Carrito -->
  <div class="d-flex align-items-center gap-4">
    <div class="text-white text-center">
      <div class="welcome">
              <p class="mb-0 fw-bold">Bienvenido</p>
      </div>
      <a href="#" class="text-white text-decoration-none">Pedidos De Reparación</a>
      <span class="mx-1">|</span>
      <a href="#" class="text-white text-decoration-none">Ajustes</a>
    </div>
   
  </div>
</div>
