.orange {
  background-color: #0583C1;
  right: 20px;
  left: 10px;
}

.image {
  width: 100%;
  max-width: 190px;
  padding: 0;
}
a {
  font-family: 'Poppins', 'sans-serif';
}

.user-icon {
  font-size: 3rem;
  color: white;
}

.badge {
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 0.75rem;
}

.welcome{
  background-color: #ffff;
  color: #04B2D9;
  font-weight: bolder;
  font-family: 'Poppins', 'sans-serif';
  font-size: 20px;
}
.search_input {
  width: 380px;
  height: 40px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  top: 5px;
  padding: 0 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buscador {
  flex: 1;
  border: none;
  outline: none;
  color: black;
  font-size: 1rem;
  padding: 0 10px;
  background: transparent;
}

.buscador-icono {
  font-size: 1.2rem;
  color: #04B2D9;
  cursor: pointer;
}

.icon_card {
  font-size: 3rem;
  color: white;
  position: relative;
}

.opc_nbn {
font-size: 15px;
font-family: 'Poppins', 'sans-serif';
font-weight: bold;
  transition: color 0.3s ease;
}

.opc_nbn:hover {
  color: #FFD700;
}
