<!-- Formulario para crear producto -->
<div class="container my-4">
  <form [formGroup]="productoForm" (ngSubmit)="crearProducto()" class="row g-3">

    <div class="col-md-3">
      <input class="form-control" formControlName="referencia" placeholder="Referencia" />
    </div>
    <div class="col-md-3">
      <input class="form-control" formControlName="nombre" placeholder="Nombre del producto" />
    </div>
    <div class="col-md-3">
      <input class="form-control" formControlName="descripcion" placeholder="Descripción" />
    </div>
    <div class="col-md-3">
      <input class="form-control" formControlName="categoria" placeholder="Categoria" />
    </div>
    <div class="col-md-3">
      <input class="form-control" type="number" formControlName="cantidad" placeholder="Cantidad" />
    </div>
    <div class="col-md-2">
      <input class="form-control" formControlName="precio" type="number" placeholder="Precio" step="0.01"
        (blur)="formatDecimal('precio')" />

    </div>
    <div class="col-md-3">
      <input class="form-control" formControlName="imagen" type="file" placeholder="URL de la Imagen" />
    </div>
    <div class="col-md-1 d-grid">
      <button type="submit" class="btn btn-primary">
        Crear
      </button>
    </div>
  </form>
</div>

<!-- Tabla de productos -->
<div class="container table-responsive">
  <table class="table table-striped table-bordered align-middle">
    <thead class="table-dark">
      <tr>
        <th>Referencia</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.referencia }}</td>

        <td>
          <img [src]="producto.imagen" alt="Imagen del producto" class="img-thumbnail"
            style="width: 80px; height: auto; object-fit: cover;">
        </td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>${{ producto.precio }}</td>
        <td>
          <!-- Acciones -->
          <div class="d-flex justify-content-evenly">
            <!-- Ver más -->
            <i class="bi bi-eye text-primary icono-accion" (click)="abrirModalVer(producto)" title="Ver más"></i>

            <!-- Editar -->
            <i class="bi bi-pencil-square text-warning icono-accion" (click)="abrirModalEditar(producto)"
              title="Editar">
            </i>


            <!-- Eliminar -->
            <i class="bi bi-trash text-danger icono-accion" (click)="eliminarProducto(producto.id)"
              title="Eliminar"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-see-product [productoSeleccionado]="productoSeleccionado" *ngIf="showModal" (close)="showModal = false">
</app-see-product>


<edit-product [productoSeleccionado]="productoSeleccionado" *ngIf="showModal1" (close)="showModal1=false">
</edit-product>